@media (max-width: 1200px) {

  .top-info__text {
    font-size: 14px;
  }

  .top-info__text_tel {
    font-size: 17px;
  }

  .logo {
    font-size: 16px;
  }

  .nav__item {
    font-size: 13px;
  }

  .offer__title {
    font-size: 43px;
  }

  .offer__detail {
    font-size: 22px;
  }

  .offer__button {
    font-size: 18px;
  }

  .concept__title {
    font-size: 34px;
  }

  .concept__description {
    font-size: 14px;
  }

  .section-service__title {
    font-size: 34px;
  }

  .service-item {
    font-size: 14px;
  }

  .contact__title {
    font-size: 34px;
  }

  .contact__text {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .top-info__item_hidden {
    display: none;
  }

  .header {
    margin-bottom: 100px;
  }

  .logo {
    font-size: 15px;
    width: 160px;
  }

  .nav__item {
    margin-left: 30px;
  }

  .offer__title {
    font-size: 40px;
  }

  .offer__detail {
    font-size: 18px;
  }

  .offer__button {
    font-size: 16px;
  }

  .service-item {
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {

  .first-section__wrap-content {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 10px;
  }

  .top-info {
    display: none;
  }
  .logo {
    display: none;
    line-height: 23px;
  }

  .logo-mobile {
    display: block;
    width: 160px;
  }

  .mobile-menu {
    display: block;
    background: #608a19;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
  }

  .mobile-menu__item {
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
  }

  .mobile-menu__item:last-child {
    margin-bottom: 0;
  }

  .nav {
    display: none;
  }

  .first-section__main {
    border: none;
    margin: 0 auto;
  }

  .offer__title {
    font-size: 27px;
    line-height: 36px;
  }

  .offer__title_new-string {
    display: block;
  }

  .offer__detail {
   font-size: 18px;
  }

  .offer__button {
    padding: 15px 20px;
  }

  .concept__wrap {
    border: none;
    background: none;
    padding: 40px 0 50px;
  }

  .concept__title {
    font-size: 23px;
    line-height: 30px;
    padding: 0 10px;
  }

  .concept__description {
    max-width: 100%;
    font-size: 14px;
    padding: 0 10px;
  }

  .section-service__wrap {
    border: none;
  }

  .section-service__title {
    font-size: 23px;
    line-height: 30px;
    padding-left: 15px;
  }

  .service-item {
    line-height: 19px;
    margin-left: 0;
  }

  .service-item:last-child {
    display: none;
  }

  .contact__wrap {
    border: none;
    background: none;
  }

  .contact__title {
    font-size: 23px;
    line-height: 30px;
  }

}
