.close {
  position: absolute;
  right: 3px;
  top: 29px;
  width: 50px;
  height: 32px;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 3px;
  background-color: #608a19;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.mobile-menu {
  padding-top: 177px;
}

.mobile-menu__item {
    font: 700 15px/28px 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    margin-bottom: 26px;
}
