 /* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
}

.wrap-content {
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
}

.first-section {
  background: url('../img/bg.png') top/cover no-repeat #a9b2c3;
}

.first-section__wrap-content {
  padding: 0 25px;
}

.first-section__top {
  border-bottom: 1px solid #847e75;
  background: rgba(54, 58, 54);
}

.top-info {
  padding: 10px 10px 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #847e75;
  border-left: 1px solid #847e75;
}

.top-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-info__text {
  margin-right: 10px;
  font: 400 16px/20px 'Open Sans', sans-serif;
  color: #fff;
}

.top-info__text_opacity {
  opacity: 0.5;
}

.top-info__text_mail {
  text-decoration: none;
  display: block;
  margin: 5px 0 4px;
  border-bottom: 1px solid #fff;
}

.top-info__text_tel {
  display: block;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #608a19;
  transition: color 0.3s;
}

.top-info__text_tel:hover {
  color: #608a19;
}

.logo-mobile {
  display: none;
}

.mobile-menu {
  display: none;
}

.first-section__main {
  border-right: 1px solid #847e75;
  border-left: 1px solid #847e75;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 140px;
  padding: 25px 25px;
}

.logo {
  padding-left: 65px;
  width: 230px;
  font: 700 17px/25px 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: url(../img/logo.svg) top left/contain no-repeat;
}

.nav__item {
  margin-left: 50px;
  font: 700 15px/28px 'Open Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav__item:hover {
  color: #608a19;
}

.offer {
  text-align: center;
  padding-bottom: 150px;
  margin: 0 auto;
  max-width: 900px;
}

.offer__title {
  margin-bottom: 45px;
  font: 900 56px/60px 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.offer__detail {
  margin-bottom: 60px;
  font: 700 24px/35px 'Raleway', sans-serif;
  text-align: center;
  display: block;
  color: #fff;
}

.offer__detail:hover {
  color: #608a19;
}

.offer__button {
  padding: 20px 60px;
  background: #608a19;
  border: 2px solid #608a19;
  font: 700 15px/20px 'Raleway', sans-serif;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, background 0.3s;
}

.offer__button:hover {
  color: #608a19;
  background: #e6e5e3;
}

.concept {
  background: #e6e5e3;
}

.concept__wrap {
  background: url(../img/light.svg) 90% 50%/10% auto no-repeat;
  border-right: 1px solid #2c2e2a;
  border-left: 1px solid #2c2e2a;
  padding: 50px 0;
}

.concept__title {
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 0 19px;
  font: 900 36px/50px 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #1d1f1c;
}

.concept__description {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 15px;
  max-width: 70%;
  font: 400 16px/25px 'Raleway', sans-serif;
  color: #1d1f1c;
}

.section-service__wrap {
  padding: 50px 0;
  border-right: 1px solid #2c2e2a;
  border-left: 1px solid #2c2e2a;
}

.section-service__title {
  padding-left: 25px;
  margin: 0 0 30px;
  font: 900 36px/50px 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #1d1f1c;
}

.service-item {
  margin-left: 25px;
  height: 35px;
  display: flex;
  margin-bottom: 20px;
  padding-left: 50px;
  align-items: center;
  font: 400 16px/25px 'Raleway', sans-serif;
  background: url(../img/select.svg) 0% 50%/contain no-repeat;
  max-width: 90%;
}

.contact {
  background: #e6e5e3;
}

.contact__wrap {
  background: url(../img/phone.svg) 90% 50%/10% auto no-repeat;
  border-right: 1px solid #2c2e2a;
  border-left: 1px solid #2c2e2a;
  padding: 50px 0;
}

.contact__title {
  padding-left: 25px;
  margin: 0 0 30px;
  font: 900 36px/50px 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #1d1f1c;
}

.contact__text {
  padding-left: 25px;
  margin-right: 20px;
  margin-bottom: 10px;
  font: 400 16px/25px 'Raleway', sans-serif;
  color: #1d1f1c;
  max-width: 450px;
}

.contact__form {
  padding: 25px;
}

.contact__form__item {
  display: block;
  margin-bottom: 15px;
  width: 250px;
  padding: 10px;
  font: 400 12px/16px 'Raleway', sans-serif;
}

.contact__form__item_btn {
  width: 200px;
  font-weight: bold;
  background: #608a19;
  border: 2px solid #608a19;
  color: #fff;
  transition: color 0.3s, background 0.3s;
}

.contact__form__item_btn:hover {
  color: #608a19;
  background: #fff;
}

.contact__mail {
  text-decoration: none;
  margin: 5px 0 4px;
  font-weight: 700;
  border-bottom: 1px solid #608a19;
  color: #608a19;
}

.contact__phone {
  margin-right: 10px;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #608a19;
  color: #608a19;
}
